body {
  background-color: $bg-primary;
  font-family: $font-secondary;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

main {
  padding: 0px 150px;
  @include media-breakpoint-down(lg) {
    padding: 0px 100px;
  }

  @include media-breakpoint-down(md) {
    padding: 0px 50px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0px 25px;
  }
}

section {
  padding: 150px 0px;

  @include media-breakpoint-down(md) {
    padding: 100px 0px;
  }

  @include media-breakpoint-down(sm) {
    padding: 80px 0px;
  }
}

.container {
  padding: 0;
}

.bg {
  &-primary-dark {
    background-color: $bg-primary-dark !important;
  }
}

.font {
  &-primary {
    font-family: $font-primary !important;
  }

  &-secondary {
    font-family: $font-secondary !important;
  }

  &-w-700 {
    font-weight: 700 !important;
  }
}

.button {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 1.15rem;
  font-size: clamp(1.1rem, 2.5vw, 1.15rem);
  text-align: center;
  color: $color-cyan !important;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.85rem 2rem;
  min-width: 200px;
  border: 2px solid $color-cyan;
  border-radius: 99px;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    background-color: $color-cyan-hover;
  }
}
