body {
  background-color: $bg-primary;
  font-family: $font-secondary;
}

.bg {
  &-primary-dark {
    background-color: $bg-primary-dark !important;
  }
}

.font {
  &-primary {
    font-family: $font-primary !important;
  }

  &-secondary {
    font-family: $font-secondary !important;
  }

  &-w-700 {
    font-weight: 700 !important;
  }
}

.button {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 1.15rem;
  text-align: center;
  color: $color-cyan !important;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.85rem 2rem;
  min-width: 200px;
  border: 2px solid $color-cyan;
  border-radius: 99px;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    background-color: $color-cyan-hover;
  }
}
