$bg-primary: #0a192f;
$bg-primary-dark: #081526;
$font-primary: "eurostile";
$font-secondary: "europa";
$color-cyan: #64ffda;
$color-light-white: #8892b0;
$color-cyan-hover: rgba($color-cyan, 0.065);
